# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual envs
.venv/
env/
venv/

# Test/coverage caches
.pytest_cache/
.coverage
htmlcov/

# OS/editor junk
.DS_Store
Thumbs.db

# VS Code
.vscode/

# Build artifacts
dist/
build/